.dashboard {

  &__select {
    width: 100%;

    @include pageWidth(xxs) {
      width: 50%;
    }

    @include pageWidth(sm) {
      width: 40%;
    }

    @include pageWidth(md) {
      width: 33%;
    }
  }

  &__title {
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;

    @include pageWidth(md) {
      font-size: 5rem;
    }
  }

  &__tiles {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    @include pageWidth(md) {
      font-size: 5rem;
    }
  }

  &__tiles--secondary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include pageWidth(md) {
      width: 50%;
    }
  }

}
