.footer {
  padding: $main__padding;
  height: $footer__height;
  background-color: $color__bg--dark;
  color: $color__text--light;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__desc {
    margin: 0;
    font-weight: normal;
    margin: .5rem 0;
  }
}
