.register {

  @include pageWidth(sm) {
    max-width: 100rem;
  }

  &__form {
    @supports (display: grid) {
      @include pageWidth(sm) {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;

        > * {
          margin: 0;
        }
      }
    }
  }

  &__btns {
    margin-top: 2rem;
    
    @supports (display: grid) {
      @include pageWidth(sm) {
        grid-column: 1 / 3;
      }
    }

  }

}

body {
  .ui.form.register__form {
    @supports (display: grid) {
      @include pageWidth(sm) {

        > .field {
          margin: 0;
        }
      }
    }
  }

}
